
// Colors
$green:               #767b4b;
$darkgreen:           #54573f;
$lightgreen:          #bdc19a;
$brightgreen:         #827d00;
$white:               #fff;
$offwhite:            #fffffe;
$darkgray:            #969796;
$lightgray:           #c6c7c5;
$lightgray2:          #f1f1ef;
$lightgray3:          #c3c3c0;
$navy:                #3c6b7d;
$beige:               #e4e4e3;
$dark:                #333333;
$red:                 #e51b24;

// Fonts
//$rounded:           'museo-sans-rounded';
//$benton:            'BentonSans';
//$abolition:         'abolition-soft';
